@import 'bulma';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  margin: 30px auto;
  width: 90%;
  max-width: 800px;
}

header {
  display: flex;
  border-bottom: solid black 1px;
  justify-content: space-between;
  align-items: baseline;
  h2 {
    font-size: 2em;
  }
  nav {
    a {
      margin: 10px;
    }
  }

}

.list-description {
  font-size: 1.3em;
  margin: 0 0 10px 0;
}

.user-pic {
  width: 90%;
  max-width: 500px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    border-radius: 50%;
    margin: 10px 0;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  .contact {
    display: flex;
    align-items: center;
    border: solid black 1px;
    padding: 5px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 30%;
    }
    p {
      margin-left: 10px;
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 25px auto;
  .detail-img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7EC0EE;
    position: relative;
    .fa-arrow-left {
      color: black;
      font-size: 1.5em;
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .fa-trash {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 1.2em;
      &:hover {
        color: red;
      }
    }
    img {
      border-radius: 50%;
      padding: 20px;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      i {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin-left: 5px;
      }
      .left, .right {
        display: flex;
      }
      .fa-mobile {
        font-size: 1.5em;
      }
    }
  }
}

.hidden {
  display: none;
}

footer {
  margin: 10px 0;
}

.wrapper {
  margin: 10px 0;
  width: 100%;
}