<form class="add-form" ng-submit="vm.addContact(contact)">
  <div class="add-img">
    <img src="{{contact.img}}" alt="">
  </div>
  <p class="control">
    <input type="text" placeholder="Name" ng-model="contact.name">
  </p>
  <p class="control">
    <input type="text" placeholder="Email" ng-model="contact.email">
  </p>
  <p class="control">
    <input type="text" placeholder="Phone Number" ng-model="contact.phone">
  </p>
  <p class="control">
    <input type="text" placeholder="Address" ng-model="contact.address">
  </p>
  <p class="control">
    <input type="text" placeholder="Input image to preview" ng-model="contact.img">
  </p>
  <button class="button">Add Contact</button>
</form>