<div class='detail'>
  <div class='detail-img-box'>
  <a href="/#/home"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <i ng-click="vm.deleteContact(vm.contact)" class="fa fa-trash" aria-hidden="true"></i>
  <i ng-click="vm.editMode('true')" class="fa fa-pencil" aria-hidden="true"></i>
    <img ng-src="{{ vm.contact.img }}">
  </div>

  <ul class='contact-info'>
    <li>
      <div class="left">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p ng-class="{hidden : !vm.isEditMode()}" class="name">{{vm.contact.name}}</p>
        <input class="edit-name" ng-class="{hidden : vm.isEditMode()}" type="text" placeholder="{{vm.contact.name}}" ng-model="edit.name">
      </div>
    </li>
    <li>
      <div class="left">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p ng-class="{hidden : !vm.isEditMode()}" class="email">{{vm.contact.email}}</p>
        <input class="edit-email" ng-class="{hidden : vm.isEditMode()}" type="email" placeholder="{{vm.contact.email}}" ng-model="edit.email" >
      </div>
    </li>
    <li>
      <div class="left">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p ng-class="{hidden : !vm.isEditMode()}" class="phone">{{vm.contact.phone}}</p>
        <input class="edit-phone" ng-class="{hidden : vm.isEditMode()}" type="tel" placeholder="{{vm.contact.phone}}" ng-model="edit.phone">
      </div>
    </li>
    <li>
      <div class="left">
        <i class="fa fa-globe last" aria-hidden="true"></i>
        <p ng-class="{hidden : !vm.isEditMode()}" class="address">{{vm.contact.address}}</p>
        <input class="edit-address" ng-class="{hidden : vm.isEditMode()}" type="text" placeholder="{{vm.contact.address}}" ng-model="edit.address">
      </div>
    </li>
    <li class='submit-edit'>
      <button ng-click="vm.submitEdit(edit)" class="button" ng-class="{hidden : vm.isEditMode()}">Confirm Edit</button>
    </li>
  </ul>
</div>