<div class='detail'>
  <div class='detail-img-box'>
  <a href="/#/home"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <img ng-src="{{ vm.contact.img }}">
  </div>
  <div class="detail-contact-info">
  <i class="fa fa-user" aria-hidden="true">
    <p class="name">{{vm.contact.name}}</p>
  </i>
  <i class="fa fa-envelope" aria-hidden="true">
    <p class="email">{{vm.contact.email}}</p>
  </i>
  <i class="fa fa-mobile" aria-hidden="true">
    <p class="phone">{{vm.contact.phone}}</p>
  </i>
  <i class="fa fa-globe last" aria-hidden="true">
    <p class="address">{{vm.contact.address}}</p>
  </i>
  </div>
</div>